@import '../../../../assets/styles/variables.less';

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .form-label {
    margin-bottom: @spacing-xs;
    text-align: left;
    font-size: @font-size-lg;
  }

  .form-control {
    height: @field-height;

    &.form-control-border-radius-none {
      border-radius: 0;
    }

    &.form-control-border-radius-left {
      border-radius: @radius-xs 0 0 @radius-xs;
    }

    &.form-control-border-radius-right {
      border-radius: 0 @radius-xs @radius-xs 0;
    }

    &.form-control-border-radius-top {
      border-radius: @radius-xs @radius-xs 0 0;
    }

    &.form-control-border-radius-bottom {
      border-radius: 0 0 @radius-xs @radius-xs;
    }
  }
}
