@radius-xs: 0.25rem;
@radius-sm: 0.5rem;
@radius-md: 0.75rem;
@radius-lg: 1rem;

@spacing-xs: 4px;
@spacing-sm: 8px;
@spacing-md: 12px;
@spacing-lg: 16px;

@font-size-xs: 8px;
@font-size-sm: 10px;
@font-size-md: 12px;
@font-size-lg: 14px;
@font-size-xlg: 16px;

@field-height: 40px;
@row-height: 60px;

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
